Section "InputClass"
    Identifier  "calibration"
    MatchDriver "evdev"
    MatchProduct "eGalax Inc. USB TouchController UNKNOWN"
    Option  "MinX"   "36922"
    Option  "MaxX"   "37989"
    Option  "MinY"   "29603"
    Option  "MaxY"   "31367"
    Option  "SwapXY" "0"
    Option  "InvertX" "0"
    Option  "InvertY" "0"
EndSection


Section "InputClass"
    Identifier "eGalax absolute mode"
    MatchProduct "eGalax Inc. USB TouchController"
    MatchDriver "evdev"
    Option "Mode" "Absolute"
    Option "Calibration" "36922 37989 29603 31367"
    Option "SwapXY" "0"
    Option "InvertX" "0"
    Option "InvertY" "0"
EndSection
